%h1 Welcome to the staff page
= form_with model: @article, url: staff_content_articles_path do
	= form.text_field :title, required: true
	= form.label :content
	= form.text_area :content, required: true
	= form.submit