<!DOCTYPE html>
!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title The Hub News
		= csrf_meta_tags
		= csp_meta_tag
		%script{src: "https://js.stripe.com/v3"}

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= stylesheet_pack_tag    'application'
		= javascript_pack_tag 'application'

	%body
		= render partial: "/layouts/navbar"
		%p= notice
		%p= alert
		= yield
		%section.bg-white.w-full
			.container.mx-auto
				.table.w-full
					.block.sm:table-cell
						%p.uppercase.text-sm.sm:mb-6 Social
						%ul.list-reset.text-xs.mb-6
							%li.mt-2.inline-block.mr-2.sm:block.sm:mr-0
								%a.text-grey.hover:text-grey-dark{href: "https://www.facebook.com/"} Facebook
							%li.mt-2.inline-block.mr-2.sm:block.sm:mr-0
								%a.text-grey.hover:text-grey-dark{href: "https://twitter.com/"} Twitter
					.block.sm:table-cell
						%p.uppercase.text-sm.sm:mb-6 Find us here
						%ul.list-reset.text-xs.mb-6
							%li.mt-2.inline-block.mr-2.sm:block.sm:mr-0
								%a.text-grey.hover:text-grey-dark{href: "https://github.com/CraftAcademy/Farazalle-The-Hut-Newsroom-JAN-2019-"} Github
							%li.mt-2.inline-block.mr-2.sm:block.sm:mr-0
								%a.text-grey.hover:text-grey-dark{href: "#"} Contact@thehubnews.com
