<!DOCTYPE html>
!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title The Hub News
		= csrf_meta_tags
		= csp_meta_tag
		%script{src: "https://js.stripe.com/v3"}

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= stylesheet_pack_tag    'application'
		= javascript_pack_tag 'application'

	%body
		= render partial: "/layouts/navbar"
		%p= notice
		%p= alert
		= yield
		%footer
			%h2 Phone: 08-11 11 11
			%h2 Email: contact@thehub.com
			%h2 Find Us Here
			%p
			.icons
				= link_to image_tag('facebook (1).png'), 'https://facebook.com', id: "Facebook"
				= link_to image_tag('twitter (1).png'), 'https://twitter.com', id: "Twitter"
				= link_to image_tag('gmail (1).png'),  'https://gmail.com', id: "Gmail"